.ambientes {
  padding: 20px;
  width: 100vw;
  background-color: var(--gray-color);
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
    'cozinha cozinha cozinha sala sala'
    'cozinha cozinha cozinha quarto quarto';
  padding-bottom: 50px;
    .item {
      position: relative;
      border-radius: 20px;
      cursor: pointer;

      &.cozinha {
        grid-area: cozinha;
        height: 800px;
      }
    
      &.sala {
        grid-area: sala;
        height: calc((800px / 2) - 10px);
      }
    
      &.quarto {
        grid-area: quarto;
        height: calc((800px / 2) - 10px);
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        transition: .3s;

        &:hover {
          filter: brightness(75%);
        }

        &.dimensionado {
          max-height: 450px;
        }
      }

      .ambientes__titulo {
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px;
        background-color: var(--gray-color);
        border-bottom-right-radius: 20px;

        h2 {
          font-size: var(--font-size-md);
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 1px;
          color: var(--paragraph-color);
        }
      }

      .item__botao {
        padding: 15px;
        background-color: var(--gray-color);
        position: absolute;
        bottom: 0;
        right: 0;
        border-top-left-radius: 20px;
        width: 100px;
        height: 100px;
        

        a {
          background-color: var(--primary-color);
          padding: 10px;
          border-radius: 10px;
          width: 100%;
          height: 100%;
          cursor: pointer;
          transition: .3s;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            background-color: var(--primary-color-bold);
          }
          
          i {
            font-size: var(--font-size-xxl);
            color: var(--gray-color);
          }
        }
      }
    }

}