.home {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  padding: 0 100px 0 100px;
  overflow: hidden;
  position: relative;

  img {
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .8;
    background-color: rgba(0,0,0,.3);
    background-blend-mode: darken;
  }

  .conteudo {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 200px 0 0 0;
    z-index: 3;

    h1 {
      font-family: var(--font-family-title);
      font-size: var(--font-size-xxl);
      color: var(--black-color);
      font-weight: 500;
      max-width: 500px;
      text-transform: uppercase;
    }

    p {
      font-size: clamp(1rem, 1vw, 1.2rem);
      color: var(--paragraph-color);
      line-height: 1.5;
      max-width: 580px;
      margin: 20px 0 0 0;
    }

    .home__botoes {
      display: flex;
      gap: 15px;
      padding: 20px 0;

      a {
        &.home__botao {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 20px;
          font-family: var(--font-family-title);
          font-weight: bold;
          letter-spacing: 1px;
          font-size: var(--font-size-md);
          text-transform: uppercase;
          color: var(--white-color);
          background: var(--background-button-color);
          border-radius: 10px;
          transition: 0.3s all;

          &:hover {
            background-color: var(--primary-color-bold);
          }
        }
        &.home__botao--transparent {
          background: transparent;
          border: 2px solid var(--primary-color);
          color: var(--primary-color);

          &:hover {
            // opacity: .8;
            background-color: var(--primary-color);
            color: var(--white-color);
          }
        }
      }
    }
  }

  .detalhes {
    background-color: var(--gray-color);
    width: 60%;
    height: 30%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 20px solid var(--gray-color);
    
    .container {
      border-radius: 20px;
      width: 100%;
      height: 100%;
      background: var(--background-button-color);
      padding: 20px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .item {
        display: flex;
        gap: 10px;
        align-items: center;
        flex-direction: column;

        strong {
          font-weight: bold;
          font-size: var(--font-size-xxl);
          color: var(--gray-color);
        }

        span {
          font-size: var(--font-size-md);
          color: var(--gray-color);
        }
      }
    }

  }

}